* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    /* position: relative; */
    
}



html {
    font-size: 62.5%;
}


.main-container {
    /* padding: 0 1.6rem; */
    /* background-color: aquamarine; */
    /* width: 100vw; */
    height: auto;

}

/* *******************************GENERAL****************************** */
.primary-header {
    font-size: 66px;
    color:#316f84;

    font-weight: 600;
    letter-spacing: -5px;
    line-height: 0.8;
}

.highlight {
    color: #007bff;
    font-weight: 600;
}

#tertiary-heading {
    font-size: 2.3rem;
}

#heading-3 {
    color:#5dd4fb ;
    font-size: 2.6rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

/* ********************************************************************* */

/* **********************HERADER********************************* */

.header-container {
    background-color: white;
    /* height: 6.5rem; */
    padding: 0.8rem 1.6rem;
    /* border-bottom: 2px solid rgba(84, 79, 79, 0.453); */

    position: fixed;
    z-index: 998;

    width: 100vw;
}

.navigation > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 0;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}


.navigation > ul > li {
    font-size: 2.2rem;
    list-style: none;

}

.booking {
    display: flex;
    /* align-items: center; */
    gap: 5px;

}

.booking button {
    background-color: #e1e0e070;
    border-radius:0 12px 12px 0;
    border: 2px solid #ccc;
    height: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;

}

#login-btn {
    background-color: transparent;
    border: .5px solid #999;
    gap: 10px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    width: 15rem;
}

#login-btn:hover {
    color: #4bcffa;
}


.booking .ion-icon {
    font-size: 3.6rem;
    padding: 8px 10px;

    color: #999;   
}

.booking input[type="search"] {
    border: 2px solid #ccc;
    background-color: #e1e0e070;
    border-radius: 12px 0 0 12px;
    padding: 8px 10px;
    font-size: 16px;
    outline: none;
    height: 45px;
    width: 56.4rem;
}


.booking input[type="search"]:focus {
    border-color: #4bcffa;;
    box-shadow: 0 0 5px #4bcffa;
}

.logo {
    width: 7rem;
}

/* *********************************************************** */
/* ****************************CATEGORY*************************** */
.categories {
    width: 100%;
    height: 50px;
    margin: 2rem 0;
   
}

.categories ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    overflow-x: hidden;
}



.categories li {
    list-style: none;
}

.categories li p {
    transition: all .3s;
}



.categories li:hover {
    opacity: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.315);
    border-radius: 100px;    
}

.category {
    border-radius: 100px;
    height: 6rem;
    padding:.8rem;    
    font-size: 1.6rem;

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: whitesmoke;
}

.category1{
    background-color: #001f3f;
}

.category2{
    background-color:  #191970;
}
.category3{
    background-color: #483d8b;
}
.category4{
    background-color: #2f4f4f;
}
.category5{
    background-color: #36454f;
}
.category6{
    background-color: #008080;
}
.category7{
    background-color: #556b2f;
}
.category-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;

}
.category-img1{
    background-image: url(../img/cultural.jpg);

}
.category-img2{
    background-image: url(../img/beach.jpg);

}
.category-img3{
    background-image: url(../img/religion.jpg);

}
.category-img4{
    background-image: url(../img/cultural.jpg);

}
.category-img5{
    background-image: url(../img/urban.jpg);
}
.category-img6{
    background-image: url(../img/wildlife.jpg);

}
.category-img7{
    background-image: url(../img/ecos\ tour.jpg);
}




.categories {
    position: relative;
    /* display: flex;
    gap: 2.6rem;
    align-items: center; */
}


  #toggleButton {
    /* width: 50px; */
    /* height: 50px; */
    font-size: 2.2rem;
    border: none;
    background-color: transparent;
    color:#007bff;
    cursor: pointer;
    z-index: 9999999;
    display: none;

 } 
     
.show {
       /* display: flex !important;  Override the display property to show the list */
       width: 15rem !important;
    }
/* *********************************************************** */
/************************* Side Nav******************************/
.hero-section {
    display: flex;
    gap: 2rem;

    height: 100%;
}

.side-nav {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-start;
    width: 51px;
    background-color: white;
    transition: width .4s ;
    z-index: 999;
    border-right: 2px solid rgba(84, 79, 79, 0.337);

    overflow: hidden;
    position: fixed;
    height: calc(100vh);
    top: calc(16.92rem );
}



.side-nav:hover {
    width: 15rem;
}
.second-nav {
    margin-top: 1rem;
    border-top: 1px solid #666;
}

.side-nav > ul {
    display: flex;
    flex-direction: column;

    gap: 2.6rem;
}

.side-nav-li {
    padding-left: 10px;
}

.side-nav-li:hover ion-icon {
    color: #4bcffa;
}
.side-nav-li span {
    font-size: 1.6rem;
}



.side-nav > ul >li {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    font-size: 2.2rem;
    list-style: none;

    position: relative;

    transition: all .4s;
    z-index: 999999;
}

.side-nav a:link, .side-nav a:visited {
    color:#0056b3;
    text-decoration: none;
}

.side-nav-li:hover::after {
    position: absolute;
    top: -4px;
    left: 6px;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(89, 89, 89, 0.304);
}

#Wishlist a::before {
    position: absolute;
    top: -8px;
    right: -13px;
    content: "2";
    border-radius: 50%;
    z-index: 9999;
    color: red;
}
     



.side-nav:hover li {
    gap: 1rem;
}

/**********************************************************************/
/****************HERO SECTION***********************************/
.right-div {
    padding-left: 11.6rem;

}

.hero-details {
    margin-top: 10rem;
    padding: 11.2rem 5.2rem 0 11.6rem;
    height: 99vh;
    width: auto;

    /* z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px; */

    background-image: url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-desc {
    /* display: flex;
    flex-direction: column;
    gap: 1.6rem; */

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.6rem;
    row-gap: 4rem;

    align-items: center;

    justify-self: center;

    /* width: 50%; */
}



.hero-details p {
    font-size: 1.6rem;

}

.hero-img img {
    width: 100%;

}

.cta {
    font-size: 1.8rem;
    margin-top: 8rem;
}

.cta a:first-child {
    margin-right: 1.2rem;
    margin-bottom: 12px;
}

.l-more {
    background-color: white;
   
    /* border: 1px solid black; */
}

.l-more:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #fff;
}




/* ************************************************************************ */
/* ***********************OFFER AND PROMOTION************************** */

.offer-promotion{
    display: flex; 
    padding: 9rem  0 9rem 11.6rem; 
    background-color: #fff;
    overflow: hidden;
}

.container-offer {
    /* 1140px */
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
  }

.grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
  }

  .grid:not(:last-child) {
    margin-bottom: 9.6rem;
  }

  .grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
  }

  
.feature-icon {
    color: #26afddcf;
    height: 3.2rem;
    width: 3.2rem;
    background-color: #8091b151;
    margin-bottom: 3.2rem;
    padding: 1.6rem;
    border-radius: 50%;
  }
  
  .feature-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 1.6rem;
  }
  
  .feature-text {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  




/* ************************************************************************ */
/* *************************BEST CHOICE*************************** */


.travel {
    width: 100vw;
    margin: 12rem 2rem;  
}

.travel-p {
    font-size: 2.6rem ;
    color: #5dd4fb; 
    text-transform: uppercase;   
}


.content2 {
    width: 90%;
    margin: 0 auto 0 8rem; 
}


.best-choice {
    display: grid;
    /* align-items: center; */
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin: 20px 20px 20px 0px;
    gap: 20px;
    border-radius: 0 0 12px 12px;
    grid-template-columns: repeat(4, 1fr);
}
   
.place-container h3 {
    font-size: 2.2rem;
    font-weight: 550;
}
.place-container  p {
    font-size: 1.6rem;

}

  .place-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 1.5rem;
    width: 98%;
  }


  .place-container:hover img {
    transform: scale(1.5);
  }

  .small-pad {
    padding: 10px;
  }
  .small-pad p{
    margin-top: .8rem;
  }

  .p-img {
    overflow: hidden;
    border-radius: 12px 12px 0 0;
    height: 200px;
    
  }

  .place-container img {
    width: 100%;
    transition: all 0.5s;
  }

  .content2 > p {
    font-size: 1.6rem;
}

.see-all {
    text-align: end;
}

.see-all a:link, 
.see-all a:visited{
   color:#999;
}

.see-all a:hover {
    text-decoration: none;
}

#redirect-btn {
    display: block;
    background-color: #3498db;
    border: 1px solid #3498db;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    

    transition: all .3s;
}

#redirect-btn:hover {
    background-color: white;
    color: #3498db;
}

.p-details {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 2rem;
}


/* ********************************************************** */
/* ******************************************************* */
.feedback-section{
    /* height: 5rem; */
    width: 100vw;
    background-color: white;
    padding: 5rem 11.2rem;
}

.feedback {
    display: flex;
    align-items: center;
    /* gap: 2rem; */
    
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  input[type="submit"] {
    width: 7rem;
    height: 3.5rem;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }



/* ********************************************************** */
/* ***************************FOOTER**************************** */
.footer {
    padding: 12.8rem 0;
    border-top: 1px solid #eee;
    background-color: #132a32;
  }

  .footer-container {
    margin-left: 12.8rem;
  }

  .grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
  
    /* margin-bottom: 9.6rem; */
  }
  
  .grid--footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  }
  
  .logo-col {
    display: flex;
    flex-direction: column;
  }
  
  .footer-logo {
    display: block;
    margin-bottom: 3.2rem;
  }
  
  .social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
  }
  
  .social-icon {
    height: 2.4rem;
    width: 2.4rem;
  }
  
  .copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #767676;
    margin-top: auto;
  }
  
  .footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
    color: #5dd4fb;
  }
  
  .contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
  }
  
  .address {
    margin-bottom: 2.4rem;
    color: #767676;
  }
  
  .footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
  
  .footer-link:link,
  .footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    transition: all 0.3s;
  }
  
  .footer-link:hover,
  .footer-link:active {
    color: #555;
  }
  

/* ********************************************************** */
/* ***************************FOOTER**************************** */
