*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-image: url(https://i.pinimg.com/564x/66/9e/5a/669e5a582eef9176b1d24302542894a8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}



.ticket{

    background-image: url(https://i.pinimg.com/564x/33/ad/03/33ad03e9d5802e9ea27981519505c561.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    margin-top: 5%;
    margin-left: 15%;
    border-radius: 20px;
    width: 50%;
    gap: 20px;
    height: 24vw;
    display: flex;
   flex-direction: column;
}
h1{
    display: flex;
    width: 100%;
    margin-top: 0 ;
    text-align: center;
    justify-content: center;
    background-color: rgba(23, 18, 177, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px 20px 0 0;
    padding: 10px 0 10px 0;
}
.passenger{
    display:flex;
    flex-direction: column;
    margin-left:  15% ;
    gap: 20px;
    padding-top: 20px;
    padding-left: 10px;
}
.name1{
    display: flex;
    gap: 10px; 
}
.part1{
    display: flex;
    gap: 40px;
    padding-bottom:20px ;
}

#f-date{
    display: flex;
    flex-direction: column;
}

.location{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    padding-top: 20px;
    padding-left: 10px;
    gap: 20px;
}
.barcode{
    width: 6vw;
    height: 7vw;
    margin-left: 4%;
    margin-top: -23.7%;
}
.barcode img{
    width: 100%;
    height: fit-content;
    margin-left: -15%;
}
.side-name{
    display: flex;
    margin-top: 10%;
}
.bottom{
    display: flex;
    margin-top: 7%;
}
.gate{
    margin-left: 20%;
}
.board-time{
    margin-left: 20%;
    
}
.upper{
    display: flex;
    justify-content:right;
    margin-top: -7%;
    gap: 40px;
    margin-right: 20px;
    position: relative;
    top: -50%;
    right: 2rem;
    
    
}
.part2n{
    display: flex;
    gap: 40px;
}

.side-part{
    background-image: url(https://i.pinimg.com/564x/44/32/11/44321178bbd0ba6bfd1148f4f24c26cd.jpg);
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    display: block;
    justify-content: right;
    margin-top: -24.3%;
    margin-left: 64.9%;
    border-radius: 20px;
    width: 23%;
    height: 24.2vw;

}
.side-location{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.fclass{
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: rgba(100, 149, 237, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px 20px 0 0;
    padding: 15px;
    padding-bottom: 12px;
}
.part2{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 10px;
}
.company-name{
    width: 100%;
    border-radius: 0 0 20px 20px;
    padding-bottom: 15px;
    padding-top: 5px;
    background-color: rgba(100, 149, 237, 0.5);
    backdrop-filter: blur(10px);
    margin-top: -1rem;

}
.slogan{
    width: 100%;
    border-radius:0 0 20px 20px ;
    margin-top:16px;
    justify-content: center;
    display: flex;
    background-color: rgba(100, 149, 237, 0.5);
    backdrop-filter: blur(10px);
    padding: 13px 0px 20px 10px;
    margin-left: -3%;
}
.emptypart{
    background-image: url(https://i.pinimg.com/564x/86/32/b3/8632b339b41f27cf82abf36e9ac412d9.jpg);
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1093px;
 
    height: 373px;
    margin: 5rem 0 5rem 15rem;
    border-radius: 20px;

    
}
